body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 50px 25px 50px;
  align-items: center;
}

header a {
  color: #dc11e0;
  text-decoration: none;
}

header a:hover {
  color: #4f11a0;
}

#title {
  text-align: center;
  margin: 25px auto;
  width: 500px;
}

#intro-content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px auto;
  width: 500px;
}

#instructions {
  text-align: center;
  margin-top: 0;
}

#wrapper {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin: 25px auto;
  width: 500px;
}

.heading-center {
  text-align: center;
  margin: 25px auto;
  width: 500px;
}

.choices {
  background-color: #4f11a0;
  margin-top: 10px;
  padding: 5px 15px;
  font-size: 18px;
  color: white;
  border-radius: 5px;
  width: 200px;
}

.scores {
  background-color: #d8c0ed;
  width: 500px;
  margin-top: 10px;
  padding: 5px 15px;
  font-size: 12px;
}

#feedback {
  margin-top: 20px;
  border-top: 1px solid gray;
  font-size: 20px;
  width: 500px;
  color: gray;
  font-size: 20px;
  font-style: italic;
  line-height: 1.5;
}

.all-done {
  font-size: 24px;
}

.btn {
  border-radius: 5px;
  background-color: #4f11a0;
  color: white;
  padding: 7px 12px;
  border: none;
  margin: 10px 15px;
}

.btn:hover {
  background-color: #dc11e0;
  cursor: pointer;
}

#high-scores {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px auto;
  width: 500px;
}

#buttons {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px auto;
  width: 500px;
}

#score-content {
  margin-top: 130px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  #intro-content {
    width: 80%;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  #intro-content {
    width: 300px;
  }

  #question {
    font-size: 24px;
  }

  .scores {
    width: 200px;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  #question {
    font-size: 16px;
  }
}
